$brand-primary: #00e39f;
$negative-brand: #E30044;
$third-brand: #e39f00;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Assistant:400,300);

a:link:hover
{
    text-decoration: none;
}

.brand-color
{
    color: $negative-brand;
}

.policy
{
    max-width: 750px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 20px;

    .policy-text::first-letter
    {
        text-transform: uppercase;
    }

    .agreement-bar
    {
        width: 100%;
        height: 30px;
        background-color: #ddd;
        position: relative;
    }
    .agreement
    {
        background-color: $brand-primary;
        height: 30px;
        position: relative;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    .disagreement
    {
        height: 30px;
        width: 50%;
        position: relative;
        background-color: $negative-brand;
        display: inline-block;
        margin: 0px;
        padding: 0px;

        .disagreement-grey
        {
            height: 100%;
            display: inline-block;
            background-color: #eee;
            margin: 0px;
            padding: 0px;
        }
    }
    .bar-text
    {
        height: 30px;
        vertical-align: middle;
        position: absolute;
        font-size:12px;
        padding: 7px;
        z-index: 10000;
    }
    .bar-text-right
    {
        right: 0px;
    }
}

.btn
{
	border: 0px;
	font-weight: bold;
	letter-spacing: 0.03em;
}

.navbar-pink
{
	background-color: $negative-brand;
	color: white;
	border-radius: 0px;
	border: none;
	height: 60px;
	a, a:link
	{
		color: white;
		font-size: 21px;
		font-family: 'Fjalla One', sans-serif;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		letter-spacing: 0.07em;
	}
}

h1
{
	font-family: 'Fjalla One', sans-serif;
	color: $negative-brand;
}

p, a , a:link, button
{
	font-family: 'Assistant', sans-serif;
	line-height: 1.5;
	font-size: 16px;
    color: black;
}

.content
{
	max-width: 700px;
	margin: auto;
	padding-top: 30px;
}
.right-button-container
{
	float: right;
	button, a, p, a:link
	{
		text-align: left;
	}
}

.back-bar
{
    padding: 5px;
    border-radius: 3px;

    &:hover
    {
        background-color:#00ca8d;
        text-decoration: none;
    }
}

.footer
{
    a, a:link
    {
        color: black;
    }
}

.policy-question
{
    @extend .panel;
    @extend .panel-default;

    .pq-text
    {
        @extend .panel-heading;
    }

    .pq-text::first-letter
    {
        text-transform: uppercase;
    }

    .pq-buttons
    {
        input[type=radio]
        {
            display: none;
        }

        input[type=radio]:checked + label:before
        {
            font-family: FontAwesome;
            content: "\f00c";
        }

        input[type=radio] + label
        {
            height: 30px;
            padding-top: 5px;
            width: 100%;
            text-align: center;
            margin-bottom: 0px;
        }

        .agree-label
        {
            border-right: 1px solid #ddd;
        }

        input[type=radio]:checked + label.agree-label
        {
            background-color: $brand-primary;
        }

        input[type=radio]:checked + label.disagree-label
        {
            background-color: $negative-brand;
            color: white;
        }

        input[type=radio]:checked + label.dont-know-label
        {
            background-color: $third-brand;
            color: white;
        }
    }
}

.left-np
{
    padding-right: 0px;
    margin-right: 0px;
}

.right-np
{
    padding-left: 0px;
    margin-left: 0px;
}

.middle-np
{
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

@media (max-width: 767px)
{
    .right-button-container
    {
        width: 100%;

    	button, a, p, a:link
    	{
    		width: 100%;
            text-align: center;
    	}
    }

    .left-np
    {
        padding-right: 15px;
        margin-right: 0px;
    }

    .right-np
    {
        padding-left: 15px;
        margin-left: 0px;
    }

    .middle-np
    {
        padding-right: 15px;
        margin-right: 0px;
        padding-left: 15px;
        margin-left: 0px;
    }
}
